.Sozial {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(100% - 300px);
  min-height: 20vh;
  margin-top: calc(100vh - 20vh);
}
.Copyright {
  font-size: 0.8rem;
  color: rgba(70, 70, 70);
  margin-left: 50px;
}

/* ################################################################################## */
@media (min-width: 0px) and (max-width: 560px) {
  .Sozial {
    width: 70%;
    min-height: 100px;
    margin-top: calc(50vh - 70px);
  }
  .Copyright {
    font-size: 0.75rem;
    margin-left: 40px;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .Sozial {
    width: calc(100% - 200px);
  }
}
@media (min-width: 769px) and (max-width: 990px) {
  .Sozial {
    width: calc(100% - 450px);
  }
}
