.Dieinfo {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}
.Gelb {
  width: 8px;
  min-height: 70vh;
  background-color: #ffc300;
}
.Info {
  width: calc(100% - 500px);
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}
.Rot {
  width: 40px;
  min-height: 6px;
  background-color: #ed013e;
  margin-left: 40px;
  margin-top: 40px;
}
.DU {
  font-size: 0.8rem;
  color: rgba(100, 100, 100);
  margin-top: 5px;
  margin-left: 40px;
}
.LB {
  font-family: Aboreto;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 37px;
  margin-top: -3px;
  color: rgba(30, 30, 30);
}
.DIE {
  width: calc(85% - 40px);
  margin-left: 40px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 0.9rem;
  margin-top: 25px;
  text-align: justify;
}
.Zeig {
  display: none;
  font-size: 0.75rem;
  color: rgba(100, 100, 100);
  margin-left: 15px;
  width: 80px;
  margin-left: 40px;
}
/* ################################################################################## */
@media (min-width: 0px) and (max-width: 560px) {
  .Gelb,
  .DIE {
    display: none;
  }
  .Info {
    width: 100%;
    min-height: 200px;
    margin-top: -200px;
  }
  .Rot {
    margin-top: 0px;
  }
  .DU {
    font-size: 0.75rem;
  }
  .LB {
    font-size: 1.3rem;
  }
  .Zeig {
    display: flex;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .Info {
    width: calc(100% - 250px);
  }
}
@media (max-height: 400px) {
  .Rot {
    margin-top: 0px;
  }
}
@media (max-height: 320px) {
  .DIE {
    height: 100px;
    margin-top: 10px;
  }
}
@media (min-height: 321px) and (max-height: 500px) {
  .DIE {
    height: 150px;
    margin-top: 10px;
  }
}
@media (min-height: 501px) and (max-height: 655px) {
  .DIE {
    height: 200px;
  }
}
