.Kaffee {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
}
.Gelb {
  width: 300px;
  min-height: 100vh;
  background-color: #ffc300;
  margin-left: calc(100% - 300px);
}
.Gelb img {
  width: 200px;
  height: 235px;
  margin-left: -117px;
  margin-top: calc(50vh - 150px);
}
.Portfolio {
  font-size: 1.6rem;
  font-family: Aboreto;
  width: 350px;
  margin-left: -155px;
  margin-top: 50px;
}
.Portfolio > :nth-child(1) {
  padding-right: 20px;
}
.Portfolio > :nth-child(2) {
  background-color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffc300;
}
/* ################################################################################## */
@media (min-width: 0px) and (max-width: 560px) {
  .Wrapper {
    flex-direction: column;
  }
  .Gelb {
    width: 100%;
    min-height: 300px;
    margin-left: 0px;
    margin-top: calc(100vh - 150px);
  }
  .Gelb img {
    width: 130px;
    height: 152px;
    margin-left: calc(50% - 65px);
    margin-top: -76px;
    transform: rotate(90deg);
  }
  .Portfolio {
    display: none;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .Gelb {
    width: 150px;
    margin-left: calc(100% - 150px);
  }
  .Gelb img {
    width: 150px;
    height: 176px;
    margin-left: -88px;
    margin-top: calc(50vh - 100px);
  }
  .Portfolio {
    font-size: 1.2rem;
    width: 130px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .Portfolio > :nth-child(1) {
    padding-right: 0px;
  }
  .Portfolio > :nth-child(2) {
    padding-top: 4px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 769px) {
}
@media (max-height: 400px) {
  .Portfolio {
    display: none;
  }
}
