.Modal {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 1;
  margin-left: 100%;
}
.Kasten {
  width: calc(100% - 50px);
  height: calc(100vh - 50px);
  margin-left: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
}
/* ################################################################################## */
@media (min-width: 0px) and (max-width: 560px) {
  .Modal {
    margin-left: 100%;
  }
}
